/* 定义主题变量 */
@theme {
 /* 颜色定义 */
 --color-background: #fff;
 --color-foreground: #09090b;

 --color-theme: #fd3f92;

 --color-primary: #18181b;
 --color-primary-foreground: #f4f4f4;

 --color-secondary: #27272a;
 --color-secondary-foreground: #ededee;

 --color-border: #e4e4e7;

 /* 暗黑模式变量 */
 --color-dark-background: #09090b;
 --color-dark-foreground: #fff;

 --color-dark-theme: #fd3f92;

 --color-dark-primary: #f4f4f4;
 --color-dark-primary-foreground: #18181b;

 --color-dark-secondary: #ededee;
 --color-dark-secondary-foreground: #27272a;

 --color-dark-border: #27272a;

 /* 字体大小 */
 --text-xs: 0.75rem;
 --text-xs--line-height: 1rem;
 --text-sm: 0.875rem;
 --text-sm--line-height: 1.25rem;
 --text-base: 1rem;
 --text-base--line-height: 1.5rem;
 --text-lg: 1.125rem;
 --text-lg--line-height: 1.75rem;
 --text-xl: 1.25rem;
 --text-xl--line-height: 1.75rem;
 --text-2xl: 1.5rem;
 --text-2xl--line-height: 2rem;

 /* 圆角 */
 --radius: 0.5rem;
 --radius-lg: 0.75rem;
 --radius-md: calc(var(--radius) - 2px);
 --radius-sm: calc(var(--radius) - 4px);
}

/* body {
 color: #f6f6f6;
} */
